################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/ApiCatalogoRepositoryAssincrono/FileContentIndex/2d692cee-9a46-48b9-b328-610c3cd58ab8.vsidx
/.vs/ApiCatalogoRepositoryAssincrono/FileContentIndex/4969ce7b-dae5-406e-8e9d-0f529a383e65.vsidx
/.vs/ApiCatalogoRepositoryAssincrono/FileContentIndex/614ecbfb-46c2-485b-81f7-6c693face4e3.vsidx
/.vs/ApiCatalogoRepositoryAssincrono/FileContentIndex/9ef57004-7519-48c3-86f3-9ad5c2fb169c.vsidx
/.vs/ApiCatalogoRepositoryAssincrono/FileContentIndex/aa5b102e-d202-460f-b67d-88450eb05edb.vsidx
/.vs/ApiCatalogoRepositoryAssincrono/FileContentIndex
/.vs/ApiCatalogoRepositoryAssincrono/DesignTimeBuild/.dtbcache.v2
